* {
    margin: 0; /* em */
    padding: 0; /* em: media queries */
    box-sizing:border-box;
}

body {
    min-height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

html{
	box-sizing: border-box;
}

*, *:after,*:before{
	box-sizing: border-box;
}

a {
  color: hsl(204, 22%, 71%);
  text-decoration: none;
}

.device {
    display: none;
}

h1{
  overflow: hidden;
  text-overflow: clip; 
    margin-top: 0.73em;
    padding: 0.5ch;
}

article {
    max-width: 75ch;
    padding: 1em;
    min-width: 31ch;
    container-type: inline-size;
}

article p {
  font-size: clamp(1rem, 19qci, 3rem);
  padding-right: 1em;
}


h2:not(.sub-title){
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
}

.sub-title {
    text-align: center;
    margin-bottom: 1em;
}

#experience {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.project_caption {
    display: flex;
    justify-content: left;
    padding: 0.5ch;
    background-color: hsl(0, 33%, 70%);
    border-radius: 0 0 0.94em 0.94em;
    outline: 0.33em solid hsl(85, 14%, 42%);
}

table {
    width: 45ch;
  padding: 0.63em;
}
td, th {
    padding: 0.5ch;
    text-align: center;
}
#portfolio{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: flex-start;
}
#portfolio h2 {
    flex-basis: 100%;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.project_img {
    padding-bottom: 0;
    border-radius: 0.94em 0.94em 0 0;
    width: 18em;
    height: 18em;
    outline: 0.33em solid hsl(85, 14%, 42%);
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100dvh;
    position: relative;
}
 
figure {
    margin: 1em;
    padding: 1em;
}

figure:hover{
    cursor: pointer;
}
details {
    border-radius: 0.25em;
}
summary{
    cursor: pointer;
}
details[open] {
    width: 17em;
}

.social_media {
    display: flex;
    list-style: none;
    justify-content: center;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email figcaption {
    margin: 1em;
}

small{
    display: inline-block;
    color: hsl(29, 54%, 20%);
    display: flex;
    justify-content: center;
    margin: 1em;
}
footer{ /* Positioning the footer and it's content */
    display: flex;
    padding: auto;
    justify-content: flex-end;
    position: absolute;
    bottom: 0%;
    right: 17%;
    transform: translate(-50%, -50%);
}

section{
    overflow: hidden;
    min-height: 100dvh;
}

.title {
    font-size: 1.88rem; /* 30px */
    margin-top: 0.67em; /* 20px/30px base */
    text-align: center;
    max-width: 100dvw;
    grid-column: 1/4;
}


   

.container {
    background:url("../img/Landscape_PC.png") no-repeat center center fixed;
    max-width: 100vw;
    color: hsl(85, 14%, 42%);
    background-size: cover;
    display: grid;
    grid-auto-flow: row;
    overflow: hidden;
}

#profile{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 2fr;
    column-gap: 3em;
    justify-content: space-between;
    grid-template-rows: 1fr 2fr 1fr;
}

picture {
    grid-column: 1 / 1;
    display: flex;
    justify-content: right;
    align-self: self-end;
    justify-self: end;
}

picture img {
    width: 299px;
    height: 434px;
    object-fit: cover;
}

nav{
    margin: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;
}

nav menu li {
    display: inline-block;
    list-style: none;
    margin: 0.63em 1.25em; /* Based on it's own font-size */
}

nav menu li a{
    color: hsl(204, 22%, 71%);
    text-decoration: none;
    font-size: 1.13rem;
    position: relative;
}

a:hover{
    color:hsl(54, 22%, 71%);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles for smartphones */
    
    .container {
        background:url("../img/mobile_background.png") no-repeat center center fixed;
        max-width: 100dvw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    nav menu {
        display: none;
    }

    section {
      overflow-y: scroll;
      position: relative;
    }

    #profile {
      justify-content: flex-start;  
      display: flex;
      flex-direction: column;
      position: relative;
  }



  table {
    width: 15ch;
    top: 30%;
  left: 50%;
}

picture {
  align-self: center;
}

article{
  grid-area: article;
  padding: 1em;
  margin: 1em;
  background-color: hsl(24, 22%, 71%);
  border-radius: 0.94em;
}

picture img{

  width: 230px;
  height: 334px;
  object-fit: cover;
}

#portfolio {
  max-width: 100dvw;
  overflow: visible;
  flex-flow:  wrap;
  margin-bottom: 1em;
}

#portfolio h2 {
  display: inline-block;
  flex-basis: 100%;
  text-align: center;
  margin-top: 1em;
}

#portfolio figure {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project_caption {
  width: 18em;
}

footer {
  right: auto;
  transform: none;
}

 
.device {
        display: contents;
        position: relative;
        width: 300px;
        height: 600px;
      }
      
      .box {
        position: absolute;
        top: 0; right: 0;
        bottom: 0; left: 0;
        overflow: hidden;
      }
      
      .navTrigger {
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 1000;
        width: 36px;
        height: 36px;
        background: none;
        border: 0;
        outline: none;
        border: none;
        cursor: pointer;
        -webkit-appearence: none;
        -webkit-tap-highlight-color: transparent;
        &:focus {
          outline: none;
        }
        svg {
          width: 64px;
          height: 48px;
          top: -6px;
          left: -14px;
          stroke: hsl(204, 22%, 71%);
          stroke-width: 4px;
          stroke-linecap: round;
          stroke-linejoin: round;
          fill: none;
          display: block;
          position: absolute;
          path {
            transition: stroke-dasharray var(--duration, .85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, .85s) var(--easing, ease) var(--delay, 0s);
            stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
            stroke-dashoffset: var(--offset, 126px);
            transform: translateZ(0);
            &:nth-child(2) {
              --duration: .7s;
              --easing: ease-in;
              --offset: 100px;
              --array-2: 74px;
            }
            &:nth-child(3) {
              --offset: 133px;
              --array-2: 107px;
            }
          }
        }
        &.active {
          svg {
            stroke: hsl(204, 22%, 71%);
            path {
              --offset: 57px;
              &:nth-child(1),
              &:nth-child(3) {
                --delay: .15s;
                --easing: cubic-bezier(.2, .4, .2, 1.1);
              }
              &:nth-child(2) {
                --duration: .4s;
                --offset: 2px;
                --array-1: 1px;
              }
              &:nth-child(3) {
                --offset: 58px;
              }
            }
          }
        }
      }
      
      .navMenu {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        text-align: center;
        /* background: #FFF; */
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        transition: all .375s;
        &.active {
          position: fixed;  
          opacity: 1;
          z-index: 100;
          visibility: visible;
          &::before {
            transform: skew(-14deg) translateX(0);
          }
          li {
            opacity: 1;
            transform: translateY(0);
          }
        }
        &::before {
          content: '';
          position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: -15px;
          background: #28a752;
          transform-origin: 0 0;
          transform: skew(-14deg) translateX(-120%);
          transition: all .275s .1s;
        }
        ul {
          list-style: none;
          padding: 0;
          display: inline-flex;
          flex-direction: column;
          height: 93%; /* Should be 100%, but we have a notice message :D */
          align-items: flex-end;
          justify-content: center;
          transform: translateX(-18%) skew(-16deg);
          li {
            display: block;
            margin: .5rem 0;
            text-align: right;
            opacity: 0;
            transform: translateY(-10px);
            a {
              position: relative;
              left: 0;
              display: block;
              padding: 12px 0;
              color: hsl(204, 22%, 71%);
              font-size: 1.4em;
              text-decoration: none;
              transform: skew(16deg);
              transition: .25s;
              &:hover {
                left: 10px;
              }
            }
            &:nth-child(1) {
              transition: all 275ms 275ms;
            }
            &:nth-child(2) {
              transition: all 275ms 325ms;
            }
            &:nth-child(3) {
              transition: all 275ms 375ms;
            }
            &:nth-child(4) {
              transition: all 275ms 425ms;
            }
            &:nth-child(5) {
              transition: all 275ms 475ms;
            }
          }
        }
      }
}
   