*{
    margin: 0; /* em */
    padding: 0; /* em: media queries */
    box-sizing:border-box;
    /* outline: auto red;  */
}
.container {
    position: relative;
    background: url("../img/Landskap.png") no-repeat center center fixed;
    background-color: hsl(85, 14%, 42%);
    max-width: 100vw;
    color: hsl(85, 14%, 42%);
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav menu li {
    display: inline-block;
    list-style: none;
    margin: 0.63em 1.25em; /* Based on it's own font-size */
}
nav menu li a{
    color: hsl(204, 22%, 71%);
    text-decoration: none;
    font-size: 1.13rem;
    position: relative;
}
a:hover{
    color:hsl(54, 22%, 71%);
}

/* p {
    max-width: 75ch;
} */
.title {
    
    font-size: 1.88rem; /* 30px */
    margin-top: 0.67em; /* 20px/30px base */
    text-align: center;
}
h1{
    margin: 0.67em;
    padding: 0.5ch;
}
#profile{
    margin-top: 8em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}
picture {
    display: flex;
    justify-content: right;
    flex-basis: 35%;
   
}
picture img {
  display: inline-block;
    width: 325px;
    height: 500px;
    object-fit: cover;
   
    
}
article{
    flex-basis: 60%;
    max-width: 75ch;
}
article p{
    padding: 1ch;
}
h2{
    text-align: center;
    padding: 0.5ch;
}
#experience {
    display: flex;
    align-items: center;
    flex-direction: column;
}
figcaption {
    display: flex;
    justify-content: space-between;
    padding: 0.5ch;
}
table {
    width: 45ch;
}
td, th {
    padding: 0.5ch;
    text-align: center;
}
#portfolio{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#portfolio h2 {
    flex-basis: 100%;
}
figure img{
    border-radius: 0.94em;
    width: 23vw;
    max-height: 18.75em;
}
figure {
    margin-top: 2em;
    
}
details {
    border-radius: 0.25em;
}
summary{
    cursor: pointer;
}
details[open] {
    width: 23vw;
}
form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
legend {
    font-size: 1.5rem;
}
textarea {
    font-size: 1rem;
    line-height: 1;
    padding: 1ch;
    transition: all 0.3s; /* Properties changes */
    outline: none;
    border-radius: 0.94em;
    width: 45ch;
}
input {
    font-size: 1rem;
    line-height: 1;
    padding: 1ch;
    width: 45ch;
    border-radius: 0.94em;
}
textarea, input{
    background-color: hsl(24, 22%, 71%);
    border: transparent;
    margin: 1ch;
    color: hsl(204, 22%, 29%);
}
input[type="email"]::-webkit-input-placeholder{
    color: hsl(204, 22%, 29%) ;
}
textarea::placeholder{
    color: hsl(204, 22%, 29%) ;
}
small{
    color: #F3F0ED;
    display: flex;
    justify-content: center;
}
footer{
    padding: auto;
}
